<p>Hi <%= @agent.first_name %></p>
<p>
  We heard that you lost your password. Sorry about that

  But don’t worry! You can use the following link to reset your password: <a href="'">Reset Password</a>
</p>
<p>
  If you don’t use this link within 3 hours, it will expire.
</p>
<p>Thanks for joining and have a great day!</p>